@page "/game/{GameId}/{PlayerNumber}"
@rendermode InteractiveServer
@inject NavigationManager navigation

<PageTitle>Home</PageTitle>

GameTick Number: @game.TickNumber
<br/>
<br/>
<button @onclick="game.StartGame">Start Game</button>
<button @onclick="game.StopGame">Stop Game</button>

@code
{
    [Parameter]
    public string GameId {get; set;}
    [Parameter]
    public string PlayerNumber {get; set;}
    Game game;
    protected override void OnInitialized()
    {
        game = GameManager.Games.First(
            (Game g) => g.Id.ToString() == GameId 
        )?? throw new Exception("Error Occured");
        game.GameUpdated += ()=> InvokeAsync(StateHasChanged);

        if(PlayerNumber == "1")
        {
         game.player= "1";
        }
        else if(PlayerNumber == "2")
        {
            game.player = "2";
        }
    }
}