@page "/"
@using Logic
@rendermode InteractiveServer
@inject NavigationManager navigation

<button @onclick="MakeGame">Make a Game</button>

@if (game != null)
{
    <a href="@($"/game/{game.Id}/2")">Join Game</a>
}

@code {
    private Game? game;

    public void MakeGame()
    {
        game = new Game();
        GameManager.Games.Add(game);
        Console.WriteLine($"Game created with ID: {game.Id}");
        navigation.NavigateTo($"/game/{game.Id}/1");
    }
}
